<h2>admin/items#index</h2>

<h2>商品一覧</h2>

<% @items.each do |item| %>
    <%= item.item_name %>
    <%= item.price %>
    <%= image_tag item.get_image %>
<% end %>

<%= link_to'新規登録',new_admin_item_path %>