// Place all the styles related to the admin/orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.absolute_test {
    position:  absolute;        /* 要素の配置方法を指定 */
    background-color: #FFF;     /* 背景色指定 */
    padding:  20px;             /* 余白指定 */
    right:  110px;                /* 右からの位置指定 */
    top:500px;                  /* 上からの位置指定 */
}
.absolute {
    position:  absolute;        /* 要素の配置方法を指定 */
    background-color: #FFF;     /* 背景色指定 */
    padding:  20px;             /* 余白指定 */
    right:  500px;                /* 右からの位置指定 */
    top:120px;                  /* 上からの位置指定 */
}
