<footer class="fixed-bottom text-center text-white" style="background-color: #f2ebd1;">
  <div class="container">
    <section class="mb-2">
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="https://www.instagram.com/"
        role="button"
        data-mdb-ripple-color="dark">
        <i class="fab fa-instagram"></i> instagram
      </a>
    </section>
  </div>
  <div class="text-center text-dark p-1" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class="text-dark" href="https://mdbootstrap.com/">© ながのCAKE</a>
    <% if  admin_signed_in? %>
      <p></p>
    <% else %>
      <%= link_to "管理者", new_admin_session_path, class: "btn btn-outline-light" %>
    <% end %>
  </div>
</footer>